<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PredictiveMaintenance</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="predictive-maintenance-entry">
        <span class="oi oi-plus" aria-hidden="true"></span> predictive-maintenance-entry
    </NavLink>
    <NavLink class="nav-link" href="add-feedback">
        <span class="oi oi-plus" aria-hidden="true"></span> add-feedback
    </NavLink>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
